<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<appender name="REDUCE" class="alpha3166.optimpdf.reduce.LogAppender" />
	<appender name="ROTATE" class="alpha3166.optimpdf.rotate.LogAppender" />

	<!-- Suppress "DCTDecode filter decoding into the bit map is not supported. 
		The stream data would be left in JPEG baseline format" -->
	<logger name="com.itextpdf.kernel.pdf.filters.DctDecodeFilter"
		level="WARN" />

	<root>
		<appender-ref ref="REDUCE" />
		<appender-ref ref="ROTATE" />
	</root>
</configuration>